<div class="wrapper">
  <div class="tweet_confirm">
    <div class="tweet_confirm_form">
      <h3>ほんとについーとする？</h3>
      <%= form_with(model: @tweet, local: true) do |form| %>
        <%= form.hidden_field :content %>
        <p><%= @tweet.content %></p>
        <div class="submit_btn">
          <button class="btn btn-default">
            <%= form.submit "する" %>
          </button>
          <button class="btn btn-default">
           <%= form.submit "もどる", name: 'back' %>
         </button>
        </div>
     <% end %>
    </div>
  </div>
</div>
