  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% else %>
  <% end %>
  <script>
    $(".alert-success" ).fadeOut(3000);
  </script>
<div class="wrapper">
  <div class="container">

    <div class="tweet_table_and_article row">
      <div class="tweet_table col-sm-8">
        <div class="row">
         <% @tweets.each do |tweet| %>
          <div class="well col-sm-offset-1 col-sm-10">
              <h3><%= tweet.content %></h3>
              <p>
                <%= link_to edit_tweet_path(tweet.id) do %>
                  <%= image_tag 'edit_icon.png' %>
                <% end %>
                <%= link_to tweet_path(tweet.id), method: :delete ,  data: { confirm: 'けします？' } do %>
                  <%= image_tag 'destroy_icon.png' %>
                <% end %>
              </p>
          </div>
         <% end %>
       </div>
      </div>

      <article class="col-sm-2">
        <div class="user">
          <% if logged_in? %>
            <div class="mypage_icon">
             <%= link_to user_path(current_user.id) do %>
              <%= image_tag 'mypage_icon.png' %>
             <% end %>
            </div>
            <div class="logout_icon">
             <%= link_to session_path(current_user.id),method: :delete do %>
              <%= image_tag 'logout_icon.png' %>
             <% end %>
            </div>
         <% else %>
            <div class="shinki_icon">
             <%= link_to new_user_path do %>
              <%= image_tag 'shinki.png' %>
             <% end %>
            </div>
            <div class="login_icon">
             <%= link_to new_session_path do %>
              <%= image_tag 'login_icon.png' %>
             <% end %>
          <% end %>
        </div>




      </article>
    </div>
  </div>
</div>
