<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="yuruitter_header row">
        <div class="yuruitter_icon col-md-offset-2">
          <%= link_to new_tweet_path do %>
            <div class="yuruitter_icon_img">
              <%= image_tag 'yuruitter_icon.png' %>
            </div>
          <% end %>
        </div>

        <div class="yuruitter_title">
          <%= link_to tweets_path do %>
            <div class="yuruitter_title_img">
              <%= image_tag 'yuruitter_title.png' %>
            </div>
          <% end %>
        </div>
      </div>

    </header>

      <%= yield %>

    <footer>
      <p>© 1995-2020 Haochi No Douhua, inc.</p>
    </footer>

  </body>
</html>
